* {
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

a:link,a:visited,a:hover,a:active{  
    text-decoration:none;  
}  
  
a:focus{  
    outline:0;   
}    

body {
	overflow-y: hidden;
}
#header{
	height: 50px;
	background-color: #009688;
	color: rgba(255,255,255, 0.84);
}

#header span,
#header a{
	color: rgba(255,255,255, 0.84);
	display: inline-block;
	line-height: 50px;
	padding: 0px 15px;
	text-decoration: none;
}

#header a:hover{
	/*background-color: #3399FF;*/
	background-color: #01ace6;
	color: white;
}

#header .header-btn{
	background-color: rgba(255, 255, 255, 0.1);
}

#header .header-btn:hover{
	color: white;
}

#header .logo{
	font-size: 20px;
	padding: 0px 30px;
}

#header .header-left{
	float: left;
}

#header .header-right{
	float:right;
}

#wrap{

}

#wrap .main{
	padding-left: 170px;
}

#wrap .content-frame{
	width: 100%;
	min-height: 500px;
}

#wrap .lefter{
	float: left;
	width: 170px;
	background-color: #293038;
}
