<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>
    title
</title>

<link rel="stylesheet" href="__PUBLIC__/lib/sui3/sui.min.css">
<link href="__PUBLIC__/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<block name="own-css"></block>
</head>
<body>

<block name="content"></block>

<script type="text/javascript" src="__PUBLIC__/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/sui3/sui.min.js"></script>
<script src="__PUBLIC__/lib/echarts3/{:C('echarts_file')}.js"></script>
<script src="__PUBLIC__/lib/echarts3/{:C('echarts_theme')}.js"></script>
<script src="__PUBLIC__/lib/echarts3/infographic.js"></script>
<script src="__PUBLIC__/lib/echarts3/macarons.js"></script>
<script src="__PUBLIC__/lib/echarts3/roma.js"></script>
<script src="__PUBLIC__/lib/echarts3/vintage.js"></script>
<block name="own-js"></block>
</body>
</html>
