<extend name="Home/base" />
<block name="own-css">
<link rel="stylesheet" href="__PUBLIC__/lib/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="__PUBLIC__/lib/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="__PUBLIC__/css/home/main.css">
</block>
<block name="content">

<section class="content">
    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">项目状态</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid pie-container" id="project-pie"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">工作状态</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid pie-container" id="work-pie"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">任务状态</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid pie-container" id="task-pie"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">任务状态</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid bar-container" id="tasks-bar"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
</section>


</block>
<block name="own-js">
<script src="__PUBLIC__/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="__PUBLIC__/js/home/index.js"></script>
<script type="text/javascript">
var project_pie = echarts.init(document.getElementById('project-pie'), 'shine');
var project_pie_option = {
    tooltip : {
        trigger: 'item',
        formatter: "{b} : {c} ({d}%)",
        backgroundColor: '#1b1b1b'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: {$project_pie_name}
    },
    animationDurationUpdate: 1000,
    series : [
        {
            name: '项目状态',
            type: 'pie',
            data: {$project_pie_data},
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },
            label: {
                normal: {
                    position: 'outside',
                    formatter: '{b}({c})'
                }
            }
        }
    ]
};
project_pie.setOption(project_pie_option);

var work_pie = echarts.init(document.getElementById('work-pie'), 'shine');
var work_pie_option = {
    tooltip : {
        trigger: 'item',
        formatter: "{b} : {c} ({d}%)",
        backgroundColor: '#1b1b1b'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: {$work_pie_name}
    },
    animationDurationUpdate: 1000,
    series : [
        {
            name: '工作状态',
            type: 'pie',
            data: {$work_pie_data},
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },
            label: {
                normal: {
                    position: 'outside',
                    formatter: '{b}({c})'
                }
            }
        }
    ]
};
work_pie.setOption(work_pie_option);

var task_pie = echarts.init(document.getElementById('task-pie'), 'shine');
var task_pie_option = {
    tooltip : {
        trigger: 'item',
        formatter: "{b} : {c} ({d}%)",
        backgroundColor: '#1b1b1b'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: {$task_pie_name}
    },
    animationDurationUpdate: 1000,
    series : [
        {
            name: '任务状态',
            type: 'pie',
            data: {$task_pie_data},
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },
            label: {
                normal: {
                    position: 'outside',
                    formatter: '{b}({c})'
                }
            }
        }
    ]
};
task_pie.setOption(task_pie_option);

var tasks_bar = echarts.init(document.getElementById('tasks-bar'), 'shine');
var tasks_bar_option = {
    tooltip : {
        trigger: 'axis',
        axisPointer : {
            type : 'shadow'
        },
        backgroundColor: '#1b1b1b',
        formatter: '任务名称：{b}<br />当前进度：{c}%'
    },
    legend: {
        data:{$task_name}
    },
    animationDurationUpdate: 1000,
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    yAxis : [
        {
            type : 'value',
            axisLabel: {
                formatter: '{value}%'
            },
            max: 100
        }
    ],
    xAxis : [
        {
            type : 'category',
            axisTick : {show: false},
            data : {$task_name}
        }
    ],
    series : [
        {
            name:'任务进度',
            type:'bar',
            label: {
                normal: {
                    show: true,
                    position: 'inside',
                    formatter: '{c}%'
                }
            },
            data: {$task_completion},
            itemStyle: {
                normal: {
                    color: '#660033'
                }
            }
        }
    ]
};
tasks_bar.setOption(tasks_bar_option);
</script>
</block>
