<extend name="Home/base" />
<block name="own-css">
<link rel="stylesheet" href="__PUBLIC__/lib/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="__PUBLIC__/lib/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="__PUBLIC__/css/home/main.css">
</block>
<block name="content">

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">任务实时预览</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="owl-demo" class="owl-carousel owl-theme">

                        <div class="item box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active" style="padding-bottom: 10px;">
                                <span style="font-size:20px;font-weight:bold;">张三</span>
                                &nbsp;-&nbsp;
                                <strong>项目组长</strong>
                                &nbsp;-&nbsp;
                                <strong>商务部</strong>
                                <ul style="padding-left:10px;padding-top:10px;">
                                    <li style="margin-bottom:5px;">进行中的项目：&nbsp;<b>1</b></li>
                                    <li style="margin-bottom:5px;">进行中的工作：&nbsp;<b>3</b></li>
                                    <li style="margin-bottom:5px;">进行中的任务：&nbsp;<b>4</b></li>
                                </ul>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked" style="padding: 5px 10px;">
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end of item -->

                        <div class="item box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active" style="padding-bottom: 10px;">
                                <span style="font-size:20px;font-weight:bold;">张三</span>
                                &nbsp;-&nbsp;
                                <strong>项目组长</strong>
                                &nbsp;-&nbsp;
                                <strong>商务部</strong>
                                <ul style="padding-left:10px;padding-top:10px;">
                                    <li style="margin-bottom:5px;">进行中的项目：&nbsp;<b>1</b></li>
                                    <li style="margin-bottom:5px;">进行中的工作：&nbsp;<b>3</b></li>
                                    <li style="margin-bottom:5px;">进行中的任务：&nbsp;<b>4</b></li>
                                </ul>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked" style="padding: 5px 10px;">
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end of item -->

                        <div class="item box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active" style="padding-bottom: 10px;">
                                <span style="font-size:20px;font-weight:bold;">张三</span>
                                &nbsp;-&nbsp;
                                <strong>项目组长</strong>
                                &nbsp;-&nbsp;
                                <strong>商务部</strong>
                                <ul style="padding-left:10px;padding-top:10px;">
                                    <li style="margin-bottom:5px;">进行中的项目：&nbsp;<b>1</b></li>
                                    <li style="margin-bottom:5px;">进行中的工作：&nbsp;<b>3</b></li>
                                    <li style="margin-bottom:5px;">进行中的任务：&nbsp;<b>4</b></li>
                                </ul>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked" style="padding: 5px 10px;">
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end of item -->

                        <div class="item box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active" style="padding-bottom: 10px;">
                                <span style="font-size:20px;font-weight:bold;">张三</span>
                                &nbsp;-&nbsp;
                                <strong>项目组长</strong>
                                &nbsp;-&nbsp;
                                <strong>商务部</strong>
                                <ul style="padding-left:10px;padding-top:10px;">
                                    <li style="margin-bottom:5px;">进行中的项目：&nbsp;<b>1</b></li>
                                    <li style="margin-bottom:5px;">进行中的工作：&nbsp;<b>3</b></li>
                                    <li style="margin-bottom:5px;">进行中的任务：&nbsp;<b>4</b></li>
                                </ul>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked" style="padding: 5px 10px;">
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end of item -->

                        <div class="item box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active" style="padding-bottom: 10px;">
                                <span style="font-size:20px;font-weight:bold;">张三</span>
                                &nbsp;-&nbsp;
                                <strong>项目组长</strong>
                                &nbsp;-&nbsp;
                                <strong>商务部</strong>
                                <ul style="padding-left:10px;padding-top:10px;">
                                    <li style="margin-bottom:5px;">进行中的项目：&nbsp;<b>1</b></li>
                                    <li style="margin-bottom:5px;">进行中的工作：&nbsp;<b>3</b></li>
                                    <li style="margin-bottom:5px;">进行中的任务：&nbsp;<b>4</b></li>
                                </ul>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked" style="padding: 5px 10px;">
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end of item -->

                        <div class="item box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active" style="padding-bottom: 10px;">
                                <span style="font-size:20px;font-weight:bold;">张三</span>
                                &nbsp;-&nbsp;
                                <strong>项目组长</strong>
                                &nbsp;-&nbsp;
                                <strong>商务部</strong>
                                <ul style="padding-left:10px;padding-top:10px;">
                                    <li style="margin-bottom:5px;">进行中的项目：&nbsp;<b>1</b></li>
                                    <li style="margin-bottom:5px;">进行中的工作：&nbsp;<b>3</b></li>
                                    <li style="margin-bottom:5px;">进行中的任务：&nbsp;<b>4</b></li>
                                </ul>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked" style="padding: 5px 10px;">
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end of item -->

                        <div class="item box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active" style="padding-bottom: 10px;">
                                <span style="font-size:20px;font-weight:bold;">张三</span>
                                &nbsp;-&nbsp;
                                <strong>项目组长</strong>
                                &nbsp;-&nbsp;
                                <strong>商务部</strong>
                                <ul style="padding-left:10px;padding-top:10px;">
                                    <li style="margin-bottom:5px;">进行中的项目：&nbsp;<b>1</b></li>
                                    <li style="margin-bottom:5px;">进行中的工作：&nbsp;<b>3</b></li>
                                    <li style="margin-bottom:5px;">进行中的任务：&nbsp;<b>4</b></li>
                                </ul>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked" style="padding: 5px 10px;">
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end of item -->

                        <div class="item box box-widget widget-user-2">
                            <div class="widget-user-header bg-aqua-active" style="padding-bottom: 10px;">
                                <span style="font-size:20px;font-weight:bold;">张三</span>
                                &nbsp;-&nbsp;
                                <strong>项目组长</strong>
                                &nbsp;-&nbsp;
                                <strong>商务部</strong>
                                <ul style="padding-left:10px;padding-top:10px;">
                                    <li style="margin-bottom:5px;">进行中的项目：&nbsp;<b>1</b></li>
                                    <li style="margin-bottom:5px;">进行中的工作：&nbsp;<b>3</b></li>
                                    <li style="margin-bottom:5px;">进行中的任务：&nbsp;<b>4</b></li>
                                </ul>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked" style="padding: 5px 10px;">
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clearfix">
                                            <span class="pull-left">Task #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end of item -->

                    </div><!-- end of owl -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
</section>


</block>
<block name="own-js">
<script src="__PUBLIC__/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="__PUBLIC__/js/home/index.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var owl = $("#owl-demo");
    owl.owlCarousel({
        autoPlay: {:C('carousel_interval')*1000},
        stopOnHover: true,
        pagination: false
    });
});
</script>
</block>
