<extend name="Home/base" />
<block name="own-css">
<link rel="stylesheet" href="__PUBLIC__/lib/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="__PUBLIC__/lib/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="__PUBLIC__/css/home/main.css">
</block>
<block name="content">

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">任务实时预览</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="owl-demo" class="owl-carousel owl-theme">

                        <volist name="data" id="item">
                            <div class="item box box-widget widget-user-2">
                                <div class="widget-user-header bg-aqua-active" style="padding-bottom: 10px;">
                                    <span style="font-size:20px;font-weight:bold;">{$item.truename}</span>
                                    &nbsp;-&nbsp;
                                    <strong>{$item.position}</strong>
                                    &nbsp;-&nbsp;
                                    <strong>{$item.station}</strong>
                                    <ul style="padding-left:10px;padding-top:10px;">
                                        <li style="margin-bottom:5px;">进行中的项目：&nbsp;<b>{$item.project_num}</b></li>
                                        <li style="margin-bottom:5px;">进行中的工作：&nbsp;<b>{$item.work_num}</b></li>
                                        <li style="margin-bottom:5px;">进行中的任务：&nbsp;<b>{$item.task_num}</b></li>
                                    </ul>
                                </div>
                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked" style="padding: 5px 10px;">
                                        <php>foreach($item['progress'] as $progress){</php>
                                            <li>
                                                <div class="clearfix">
                                                    <span class="pull-left">{$progress.task_name}</span>
                                                    <small class="pull-right">{$progress.completion}%</small>
                                                </div>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: {$progress.completion}%;"></div>
                                                </div>
                                            </li>
                                        <php>}</php>
                                    </ul>
                                </div>
                            </div><!-- end of item -->
                        </volist>

                    </div><!-- end of owl -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
</section>


</block>
<block name="own-js">
<script src="__PUBLIC__/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="__PUBLIC__/js/home/index.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var owl = $("#owl-demo");
    owl.owlCarousel({
        autoPlay: {:C('carousel_interval')*1000},
        stopOnHover: true,
        pagination: false
    });
});
</script>
</block>
