<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>
    <block name="title"></title>
</title>
<!-- <link href="__PUBLIC__/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="//g.alicdn.com/sui/sui3/0.0.18/css/sui.min.css">
<link href="__PUBLIC__/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
body{
    margin: 0px;
    padding: 20px 0px 0px 20px;
}
</style>
<block name="own-css"></block>
</head>
<body>

<ol class="breadcrumb">
  <li><a href="javascript:void(0);">首页</a></li>
  <li><a href="javascript:void(0);"><block name="module-name"></block></a></li>
  <li class="active"><block name="page-name"></block></li>
</ol>

<block name="content"></block>

<script type="text/javascript" src="__PUBLIC__/lib/jquery/jquery.min.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/lib/bootstrap/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="//g.alicdn.com/sui/sui3/0.0.18/js/sui.min.js"></script>
<block name="own-js"></block>
</body>
</html>
