<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>admin</title>

	<link href="__PUBLIC__/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/admin_index_index.css" rel="stylesheet">
	<link href="__PUBLIC__/css/admin_index_index_lefter.css" rel="stylesheet">
</head>
<body>

<div id="header">
	<span class="header-left logo">工程项目管理系统</span>
	<a href="javascript:void(0);" class="header-right header-btn" id="logout-btn">退出</a>
	<span class="header-right">欢迎登录：{:session('username')}</span>
</div>

<div id="wrap">
	<div class="lefter">
		<dl>
			<dt>工作</dt>
			<dd><a href="javascript:void(0);" target="content">今日工作</a></dd>
			<dd><a href="javascript:void(0);" target="content">我的打分</a></dd>
			<dd><a href="{:U('admin/home/sign')}" target="content">我的考勤</a></dd>

			<dt>项目</dt>
			<dd><a href="javascript:void(0);" target="content">我的项目</a></dd>
			<dd><a href="javascript:void(0);" target="content">进行中的项目</a></dd>
			<dd><a href="javascript:void(0);" target="content">项目打分</a></dd>
		</dl>

<if condition="session('user_level') eq 0">
		<dl>
			<dt><i class="fa fa-gear"></i>&nbsp管理</dt>
			<dd><a href="{:U('admin/user/index')}" target="content">人员管理</a></dd>
			<dd><a href="javascript:void(0);" target="content">项目管理</a></dd>
			<dd><a href="{:U('admin/sign/index')}" target="content">考勤管理</a></dd>
		</dl>
</if>

	</div>
	<div class="main">
		<iframe name="content" class="content-frame" src="" frameborder="0"></iframe>
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/admin_index_index.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/admin_index_index_lefter.js"></script>
<script type="text/javascript">
$(function(){
	$('#logout-btn').click(function(){
		if (confirm('确定退出系统？')) {
			var url = "{:U('admin/login/logout')}";
			window.location.href = url;
		}
	});
});
</script>
</body>
</html>
