<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{:C('systemname')}</title>

	<link href="__PUBLIC__/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/admin_index_index.css" rel="stylesheet">
	<link href="__PUBLIC__/css/admin_index_index_lefter.css" rel="stylesheet">
</head>
<body>

<div id="header">
	<span class="header-left logo"><i class="fa fa-bar-chart"></i>&nbsp;{:C('systemname')}</span>
	<a href="javascript:void(0);" class="header-right header-btn" id="logout-btn"><i class="fa fa-power-off"></i>&nbsp;退出</a>
	<span class="header-right">欢迎登录：{:session('user.truename')}</span>
</div>

<div id="wrap">
	<div class="lefter">
<if condition="$user_level neq 0">
		<dl>
			<dt><i class="fa fa-tachometer"></i>&nbsp;&nbsp;个人中心</dt>
			<switch name="user_level">
				<case value="1">
					<dd><a href="{:U('admin/project/schedule')}" target="content">
						<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;项目管理
						<if condition="$project_schedule_nums gt 0">
							&nbsp;<span class="badge" style="background-color:#ea4a36;font-size:10px;">{$project_schedule_nums}</span>
						</if>
					</a></dd>
					<dd><a href="{:U('admin/work/schedule')}" target="content">
						<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;工作日程
						<if condition="$work_schedule_nums gt 0">
							&nbsp;<span class="badge" style="background-color:#ea4a36;font-size:10px;">{$work_schedule_nums}</span>
						</if>
					</a></dd>
				</case>
				<case value="2">
					<dd><a href="{:U('admin/work/schedule')}" target="content">
						<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;工作日程
						<if condition="$work_schedule_nums gt 0">
							&nbsp;<span class="badge" style="background-color:#ea4a36;font-size:10px;">{$work_schedule_nums}</span>
						</if>
					</a></dd>
				</case>
				<default />
			</switch>
			<dd><a href="javascript:void(0);" target="content"><i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;我的打分</a></dd>
			<dd><a href="{:U('admin/task/sign')}" target="content"><i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;我的考勤</a></dd>
		</dl>
</if>

<if condition="$user_level eq 0">
		<dl>
			<dt><i class="fa fa-gears"></i>&nbsp;&nbsp;系统管理</dt>
			<dd><a href="{:U('admin/user/index')}" target="content"><i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;人员管理</a></dd>
			<dd><a href="{:U('admin/project/index')}" target="content"><i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;项目管理</a></dd>
			<dd><a href="{:U('admin/sign/index')}" target="content"><i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;考勤管理</a></dd>
		</dl>
</if>

	</div>
	<div class="main">
		<iframe name="content" class="content-frame" src="" frameborder="0"></iframe>
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/admin_index_index.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/admin_index_index_lefter.js"></script>
<script type="text/javascript">
$(function(){
	$('#logout-btn').click(function(){
		if (confirm('确定退出系统？')) {
			var url = "{:U('admin/login/logout')}";
			window.location.href = url;
		}
	});
});
</script>
</body>
</html>
