<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    	<block name="page_title"></block>
    </title>

    <!-- Bootstrap -->
    <link href="__PUBLIC__/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <block name="content"></block>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/lib/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>