<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>登陆系统</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="__PUBLIC__/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/lib/font-awesome/css/font-awesome.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="__PUBLIC__/lib/AdminLTE/AdminLTE.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="__PUBLIC__/lib/AdminLTE/plugins/iCheck/square/blue.css">
  <link rel="stylesheet" href="__PUBLIC__/css/admin_login_index.css">

</head>
<body class="hold-transition login-page" style="background: url(__PUBLIC__/images/bg.jpg) no-repeat center;background-size: cover;">
<div class="login-box">

  <div class="login-box-body" id="login-box-body-id">

      <h1 id="form-title-id">CSCEC</h1>

    <form action="{:U('admin/login/loginHandle')}" method="post" id="form-id">
      <div class="form-group has-feedback">
          <span class="glyphicon glyphicon-user form-control-feedback" style="right:auto;"></span>
          <input type="text" class="form-control" autocomplete="off" placeholder="请输入用户名" name="username" style="padding-left:40px;padding-right:10px;">
      </div>
      <div class="form-group has-feedback">
          <span class="fa fa-lock fa-lg form-control-feedback" style="right:auto;"></span>
          <input type="password" class="form-control" autocomplete="off" placeholder="请输入密码" name="password" style="padding-left:40px;padding-right:10px;">
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-sign-in"></i>&nbsp;登陆</button>
        </div>
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<script type="text/javascript" src="__PUBLIC__/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/lib/AdminLTE/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
