<extend name="Content/layout" />
<block name="module-name">管理</block>
<block name="page-name">职务管理</block>

<block name="content">

<a href="{:U('admin/position/add')}" class="btn btn-success"><i class="fa fa-user-plus"></i>&nbsp;新建职务</a>
<a href="{:U('admin/user/index')}" class="btn btn-primary"><i class="fa fa-reply"></i>&nbsp;返回用户列表</a>

<div style="height:20px;"></div>

<div style="width:800px;">
    <div class="alert alert-warning" role="alert">
      <i class="iconfont icon-warning alert-icon"></i>
      <div class="alert-content">
        <h4>注意</h4>
        <p>编辑或者删除已有的职务，有可能会影响已经拥有相应职务属性的用户信息，请慎重操作！</p>
      </div>
    </div>
</div>

<table class="table table-bordered table-hover">
    <tr class="active">
        <th>序号</th>
        <th>职务名称</th>
        <th>操作</th>
    </tr>

    <volist name="data" id="position">
        <tr>
            <td>{$index++}</td>
            <td>{$position.position}</td>
            <td>
                <a href="{:U('admin/position/edit', array('id' => $position['id']))}" class="btn btn-primary btn-sm edit-btn"><i class="fa fa-pencil"></i>&nbsp;编辑信息</a>
                <a ref="javascript:void(0);" data-url="{:U('admin/position/delete', array('id' => $position['id']))}" data-position="{$position.position}" class="btn btn-danger btn-sm delete-btn"><i class="fa fa-times"></i>&nbsp;删除</a>
            </td>
        </tr>
    </volist>

</table>

<if condition="$pagenum gt 1">
<div id="page">
    {$show}
</div>
</if>

</block>

<block name="own-js">
<script type="text/javascript">
$('.delete-btn').click(function(){
    var position = $(this).attr('data-position');
    var url = $(this).attr('data-url');
    if(confirm('确定要删除职务类型:' + position + '？')) {
        window.location.href = url;
    }
});
</script>
</block>
