<extend name="Content/layout" />
<block name="module-name">管理</block>
<block name="page-name">项目管理</block>

<block name="content">

<a href="{:U('admin/project/add')}" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;发布新项目</a>

<div style="height:20px;"></div>

<table class="table table-bordered table-hover">
	<tr class="active">
        <th>序号</th>
        <th>项目名称</th>
        <th>项目组长</th>
        <th>创建时间</th>
        <th>启动时间</th>
        <th>计划完成时间</th>
        <th>实际完成时间</th>
        <th>当前状态</th>
        <th>操作</th>
    </tr>

    <volist name="data" id="project">
        <tr>
            <td>{$index++}</td>
            <td>{$project.project_name}</td>
            <td>{$project.leader_truename}</td>
            <td>
            	<if condition="$project['c_time'] eq 0">
					-
            	<else />
            		{$project.c_time|date="Y-m-d",###}
            	</if>
            </td>
            <td>
            	<if condition="$project['s_time'] eq 0">
					-
            	<else />
            		{$project.s_time|date="Y-m-d",###}
            	</if>
            </td>
            <td>
            	<if condition="$project['e_time'] eq 0">
					-
            	<else />
            		{$project.e_time|date="Y-m-d",###}
            	</if>
            </td>
            <td>
            	<if condition="$project['f_time'] eq 0">
					-
            	<else />
            		{$project.f_time|date="Y-m-d",###}
            	</if>
            </td>
            <td>
            	<switch name="project.status">
			        <case value="0">
			        	<label class="label label-warning">尚未启动</label>
			        </case>
			        <case value="1">
			        	<label class="label label-primary">进行中</label>
			        </case>
			        <case value="2">
			        	<label class="label label-success">已结束</label>
			        </case>
			        <case value="3">
			        	<label class="label label-danger">禁用</label>
			        </case>
			        <default />
			        	-
			    </switch>
            </td>
            <td>
            	<a href="{:U('admin/project/view', array('id' => $project['id']))}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i>&nbsp;详情</a>

            	<switch name="project.status">
			        <case value="0">
			        	<a href="javascript:void(0);" data-url="{:U('admin/project/change', array('id' => $project['id'], 'act' => 'off'))}" class="btn btn-danger btn-sm forbid-btn"><i class="fa fa-power-off"></i>&nbsp;禁用</a>
			        </case>
			        <case value="3">
			        	 <a href="javascript:void(0);" data-url="{:U('admin/project/change', array('id' => $project['id'], 'act' => 'off'))}" class="btn btn-success btn-sm forbid-btn"><i class="fa fa-check"></i>&nbsp;启用</a>
			        </case>
			        <default />
			    </switch>

            </td>
        </tr>
    </volist>

</table>

<if condition="$pagenum gt 1">
	<div id="page">
	    {$show}
	</div>
</if>

</block>

<block name="own-js">
<script type="text/javascript">
$('.forbid-btn').click(function(){
    var url = $(this).attr('data-url');
    if(confirm('禁用项目会导致正在进行中的项目失效，确定要执行这一操作吗？')) {
        window.location.href = url;
    }
});

</script>