<extend name="Content/layout" />
<block name="module-name">管理</block>
<block name="page-name">项目详情</block>

<block name="content">

<div style="width:800px;">
	<table class="table table-bordered">
		<tr>
			<td class="active" style="font-weight:bold;text-align:right;width:100px;">项目名称:</td>
			<td>{$data.project_name}</td>
		</tr>
		<tr>
			<td class="active" style="font-weight:bold;text-align:right;width:100px;">项目组长:</td>
			<td>{$data.truename}</td>
		</tr>
		<tr>
			<td class="active" style="font-weight:bold;text-align:right;width:100px;">项目状态:</td>
			<td>
				<switch name="data.status">
			        <case value="0">
			        	<label class="label label-warning">未启动</label>
			        </case>
			        <case value="1">
			        	<label class="label label-primary">进行中</label>
			        </case>
			        <case value="2">
			        	<label class="label label-success">已结束</label>
			        </case>
			        <case value="3">
			        	<label class="label label-danger">禁用</label>
			        </case>
			        <default />
			        	-
			    </switch>
			</td>
		</tr>
		<tr>
			<td class="active" style="font-weight:bold;text-align:right;width:100px;">项目计划时间:</td>
			<td>{$data.s_time|date='Y-m-d',###}&nbsp;~&nbsp;{$data.e_time|date='Y-m-d',###}</td>
		</tr>
		<tr>
			<td class="active" style="font-weight:bold;text-align:right;width:100px;">项目完成时间:</td>
			<td><if condition="$data.f_time neq 0">
					{$data.f_time|date='Y-m-d',###}
				<else />
					-
				</if>
			</td>
		</tr>
		<tr>
			<td class="active" style="font-weight:bold;text-align:right;width:100px;">备注说明:</td>
			<td>{$data.remark}</td>
		</tr>
		<tr>
			<td class="active" style="font-weight:bold;text-align:right;width:100px;vertical-align:middle;">工作分配：</td>
			<td>
				<if condition="count($work_data) neq 0">
					<table class="table table-bordered">
						<tr class="active">
							<th>项目组员</th>
							<th>工作</th>
							<th>状态</th>
							<th>项目计划时间</th>
							<th>实际完成时间</th>
						</tr>
						<volist name="work_data" id="work">
							<tr>
								<td>{$work.member_truename}</td>
								<td>{$work.work_name}</td>
								<td>
									<switch name="work.status">
								        <case value="0">
								        	<label class="label label-warning">未启动</label>
								        </case>
								        <case value="1">
								        	<label class="label label-primary">进行中</label>
								        </case>
								        <case value="2">
								        	<label class="label label-success">已结束</label>
								        </case>
								        <default />
								        	-
								    </switch>
								</td>
								<td>{$work.s_time|date="Y-m-d",###}&nbsp;~&nbsp;{$work.e_time|date="Y-m-d",###}</td>
								<td>
									<if condition="$work.f_time neq 0">
										{$work.f_time|date='Y-m-d',###}
									<else />
										-
									</if>
								</td>
							</tr>
						</volist>
					</table>
				<else />
					-
				</if>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<a href="javascript:window.location=document.referrer" class="btn btn-success"><i class="fa fa-reply"></i>&nbsp;返回列表</a>
			</td>
		</tr>
	</table>
</div>

</block>
