<extend name="Content/layout" />
<block name="module-name">个人中心</block>
<block name="page-name">添加总结</block>

<block name="content">

<div style="width:500px;">

<form class="form-horizontal" action="{:U('admin/summary/addHandle')}" method="post" id="form-id">
    <input type="hidden" name="work_id" value="{$work.id}">
    <input type="hidden" name="member_uid" value="{$member_uid}">
    <table class="table table-bordered">
        <tr>
            <td style="text-align:center;vertical-align:middle;">工作名称</td>
            <td>{$work.work_name}</td>
        </tr>
        <tr>
            <td style="text-align:center;vertical-align:middle;">所属项目</td>
            <td>{$work.project_name}</td>
        </tr>
        <tr>
            <td style="text-align:center;vertical-align:middle;">计划时间</td>
            <td>{$work.s_time|date="Y-m-d",###}&nbsp;~&nbsp;{$work.e_time|date="Y-m-d",###}</td>
        </tr>
        <tr>
            <td style="text-align:center;vertical-align:middle;">完成时间</td>
            <td>{$work.f_time|date="Y-m-d",###}</td>
        </tr>
        <tr>
            <td style="text-align:center;vertical-align:middle;">工作说明</td>
            <td>{$work.remark}</td>
        </tr>
        <tr>
            <td style="text-align:center;vertical-align:middle;">总结内容</td>
            <td>
                <textarea class="form-control" name="content" rows="10" cols="40" style="resize:vertical;" id="text"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;vertical-align:middle;">
                <a href="javascript:void(0);" class="btn btn-primary" id="submit-btn"><i class="fa fa-floppy-o"></i>&nbsp;提交</a>
                <a href="javascript:window.location=document.referrer;" class="btn btn-success"><i class="fa fa-reply"></i>&nbsp;返回列表</a>
            </td>
        </tr>
    </table>
</form>

</div>

</block>

<block name="own-js">
<script type="text/javascript">
$('#submit-btn').click(function(){
    var text = $('#text').val();
    if (! text) {
        alert('总结内容不能为空！');
        return false;
    }
    $('#form-id').submit();
});
</script>
</block>
