<extend name="Content/layout" />
<block name="module-name">管理</block>
<block name="page-name">总结详情</block>

<block name="content">

<div style="width:800px;">

<table class="table table-bordered">
    <tr>
        <td style="text-align:center;vertical-align:middle;width:100px;">项目名称</td>
        <td>{$project.project_name}</td>
    </tr>
    <tr>
        <td style="text-align:center;vertical-align:middle;">计划时间</td>
        <td>{$project.s_time|date="Y-m-d",###}&nbsp;~&nbsp;{$project.e_time|date="Y-m-d",###}</td>
    </tr>
    <tr>
        <td style="text-align:center;vertical-align:middle;">完成时间</td>
        <td>{$project.f_time|date="Y-m-d",###}</td>
    </tr>
    <tr>
        <td style="text-align:center;vertical-align:middle;">总结内容</td>
        <td>
            {$summary.content|text_display}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center;vertical-align:middle;">
            <a href="javascript:window.location=document.referrer;" class="btn btn-success"><i class="fa fa-reply"></i>&nbsp;返回列表</a>
        </td>
    </tr>
</table>
</div>

</block>
