<extend name="Content/layout" />
<block name="module-name">管理</block>
<block name="page-name">总结管理</block>

<block name="content">

<table class="table table-bordered table-hover">
    <tr class="active">
        <th>序号</th>
        <th>工作名称</th>
        <th>提交人</th>
        <th>提交时间</th>
        <th>操作</th>
    </tr>

    <volist name="data" id="summary">
        <tr>
            <td>{$index++}</td>
            <td>{$summary.work_name}</td>
            <td>{$summary.member_truename}</td>
            <td>{$summary.c_time|date="Y-m-d",###}</td>
            <td>
                <a class="btn btn-sm btn-info" href="{:U('admin/summary/view', array('id' => $summary['id']))}"><i class="fa fa-eye"></i>&nbsp;详情</a>
                <a class="btn btn-sm btn-danger btn-delete" href="javascript:void(0);" data-url="{:U('admin/summary/delete', array('id' => $summary['id']))}"><i class="fa fa-times"></i>&nbsp;删除</a>
            </td>
        </tr>
    </volist>
</table>

<if condition="$pagenum gt 1">
<div id="page">
    {$show}
</div>
</if>

</block>

<block name="own-js">
<script type="text/javascript">
$(function(){
    $('.btn-delete').click(function(){
        if (confirm('确定要删除这条记录？')) {
            var url = $(this).attr('data-url');
            window.location.href = url;
        }
    });
});
</script>
</block>
