<extend name="Content/layout" />
<block name="module-name">个人中心</block>
<block name="page-name">我的总结</block>

<block name="content">

<table class="table table-bordered table-hover">
    <tr class="active">
        <td>序号</td>
        <td>项目名称</td>
        <td>提交时间</td>
        <td>操作</td>
    </tr>

    <volist name="data" id="summary">
        <tr>
            <td>{$index++}</td>
            <td>{$summary.project_name}</td>
            <td>{$summary.c_time|date="Y-m-d",###}</td>
            <td>
                <a class="btn btn-sm btn-info" href="{:U('admin/summary/view', array('id' => $summary['id']))}"><i class="fa fa-eye"></i>&nbsp;详情</a>
                <a class="btn btn-sm btn-success" href="{:U('admin/summary/edit', array('id' => $summary['id']))}"><i class="fa fa-pencil"></i>&nbsp;编辑</a>
            </td>
        </tr>
    </volist>
</table>

<if condition="$pagenum gt 1">
<div id="page">
    {$show}
</div>
</if>

</block>
