<extend name="Content/layout" />
<block name="own-css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/easyui/themes/icon.css">
</block>
<block name="module-name">个人中心</block>
<block name="page-name">我的考勤</block>

<block name="content">

<div style="margin-bottom:15px;">
    <button class="btn btn-success btn-lg" id="submit-btn">确认下午打卡</button>
    <a href="{:U('admin/sign/history')}" class="btn btn-info btn-lg"><i class="fa fa-list-ul"></i>&nbsp;打卡历史</a>
</div>

<form action="{:U('admin/task/afternoonHandle')}" method="post" id="form-id">

<table class="table table-bordered table-hover">
    <tr class="active">
        <th>序号</th>
        <th>日常任务名称</th>
        <th>说明</th>
        <th>所属工作</th>
        <th>所属项目</th>
        <th>项目组长</th>
        <th>任务计划开始时间</th>
        <th>任务计划完成时间</th>
        <th>任务完成度（%）</th>
    </tr>

    <volist name="data" id="task">
        <tr>
            <td style="vertical-align:middle;">{$index}</td>
            <td style="vertical-align:middle;">{$task.task_name}</td>
            <td style="vertical-align:middle;">{$task.remark}</td>
            <td style="vertical-align:middle;">{$task.work_name}</td>
            <td style="vertical-align:middle;">{$task.project_name}</td>
            <td style="vertical-align:middle;">{$task.leader_truename}</td>
            <td style="vertical-align:middle;">{$task.s_time|date='Y-m-d',###}</td>
            <td style="vertical-align:middle;">{$task.e_time|date='Y-m-d',###}</td>
            <td style="vertical-align:middle;text-align:center;padding-top:20px;padding-left:15px;">
                <input type="hidden" name="task[{$index}][id]" value="{$task.id}">
                <input type="text" name="task[{$index}][completion]" value="{$task.completion}" class="easyui-slider completion" data-init="{$task.completion}" data-options="showTip:true,min:0,max:100,tipFormatter: function(value){return value+'%';},onChange: function(v){var init=$(this).attr('data-init');if(v<init){$(this).slider('setValue', init);}}" data-index="{$index}" style="width:150px;">
            </td>
        </tr>
        <php>$index++;</php>
    </volist>

</table>

</form>

</block>

<block name="own-js">
<script type="text/javascript" src="__PUBLIC__/lib/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/easyui/plugins/jquery.textbox.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/easyui/plugins/jquery.spinner.js"></script>
<script type="text/javascript">
$('#submit-btn').click(function(){
    var finish = false;

    var error  = true;
    $('.completion').each(function(){
        var val   = parseInt($.trim($(this).val()));
        var init  = parseInt($(this).attr('data-init'));
        var index = parseInt($(this).attr('data-index'));

        if (val == 100) {
            finish = true;
        }

        if (val != init) {
            error = false;
        }
    });

    if (error) {
        window.alert('请至少更新一项任务进度以后再提交！');
        return false;
    }

    var info = '你确定要提交今日的任务进度吗？';
    if (finish) {
        info = '检测到有已经完成的任务进度，确定要提交吗？'
    }

    if (window.confirm(info)) {
        $('#form-id').submit();
    }
});
</script>
</block>
