<extend name="Content/layout" />
<block name="module-name">项目</block>
<block name="page-name">项目管理</block>

<block name="content">

<if condition="$startable_num gt 0">
	<div class="alert alert-info alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	  <i class="iconfont icon-warning"></i>
	  有新的工作任务可以启动，注意检查！
	</div>
</if>

<if condition="$finished_num gt 0">
	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	  <i class="iconfont icon-success"></i>
	  有新的工作可以提交完成，注意检查！
	</div>
</if>

<table class="table table-bordered table-hover">
	<tr class="active">
		<th>序号</th>
		<th>工作名称</th>
		<th>内容说明</th>
		<th>所属项目</th>
		<th>项目组长</th>
		<th>执行员工</th>
		<th>计划开始时间</th>
		<th>计划完成时间</th>
		<th>实际完成时间</th>
		<th>当前状态</th>
		<th>操作</th>
	</tr>

	<volist name="data" id="work">

		<tr {$work['status']==0?'class=\"info\"':''}>
			<td>{$index++}</td>
			<td>{$work.work_name}</td>
			<td>{$work.remark}</td>
			<td>{$work.project_name}</td>
			<td>{$work.leader_truename}</td>
			<td>
				<if condition="$work.member_uid eq session('user_id')">
					{:session('truename')}
				<else />
					-
				</if>
			</td>
			<td>{$work.s_time|date="Y-m-d",###}</td>
			<td>{$work.e_time|date="Y-m-d",###}</td>
			<td>
				<if condition="$work['f_time'] eq 0">
					-
				<else />
					{$work.f_time|date="Y-m-d",###}
				</if></td>
			<td>
				<switch name="work.status">
			        <case value="0">
			        	<label class="label label-primary">未启动</label>
			        </case>
			        <case value="1">
			        	<label class="label label-success">进行中</label>
			        </case>
			        <case value="2">
			        	<label class="label label-warning">已结束</label>
			        </case>
			        <case value="3">
			        	<label class="label label-danger">禁用</label>
			        </case>
			        <default />
			        	-
			    </switch>
			</td>
			<td>
                <switch name="work.status">
			        <case value="0">
			        	<a href="{:U('admin/work/start', array('id' => $work['id']))}" class="btn btn-primary btn-sm"><i class="fa fa-power-off"></i>&nbsp;启动</a>
			        </case>
			        <case value="1">
			        	<a href="{:U('admin/work/view', array('id' => $work['id']))}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i>&nbsp;查看</a>
			        	<a href="{:U('admin/work/edit', array('id' => $work['id']))}" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i>&nbsp;修改</a>
			        </case>
			        <case value="2">
			        	<a href="{:U('admin/work/view', array('id' => $work['id']))}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i>&nbsp;查看</a>
			        </case>
			        <default />
			    </switch>
			</td>
		</tr>

	</volist>

</table>

<if condition="$pagenum gt 1">
	<div id="page">
	    {$show}
	</div>
</if>

</block>
