<extend name="Content/layout" />
<block name="module-name">管理</block>
<block name="page-name">工作地点管理</block>

<block name="content">

<a href="{:U('admin/workplace/add')}" class="btn btn-success"><i class="fa fa-user-plus"></i>&nbsp;新建工作地点</a>

<div style="height:20px;"></div>

<table class="table table-bordered">
    <tr>
        <th>序号</th>
        <th>工作地点名称</th>
        <th>操作</th>
    </tr>

    <volist name="data" id="work_place">
        <tr>
            <td>{$index++}</td>
            <td>{$work_place.work_place}</td>
            <td>
                <a href="{:U('admin/workplace/edit', array('id' => $work_place['id']))}" class="btn btn-primary btn-sm edit-btn"><i class="fa fa-pencil"></i>&nbsp;编辑信息</a>
                <a ref="javascript:void(0);" data-url="{:U('admin/workplace/delete', array('id' => $work_place['id']))}" data-work_place="{$work_place.work_place}" class="btn btn-danger btn-sm delete-btn"><i class="fa fa-times"></i>&nbsp;删除</a>
            </td>
        </tr>
    </volist>

</table>

<if condition="$pagenum gt 1">
<div id="page">
    {$show}
</div>
</if>

</block>

<block name="own-js">
<script type="text/javascript">
$('.delete-btn').click(function(){
    var work_place = $(this).attr('data-work_place');
    var url = $(this).attr('data-url');
    if(confirm('确定要删除工作地点类型:' + work_place + '？')) {
        window.location.href = url;
    }
});
</script>
</block>
